# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Deletable files
*.vs
*.Proyecto.5d4a6402
*.x64

Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto\#2_ZunigaAlex.vcxproj
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto\#2_ZunigaAlex.vcxproj.filters
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto\#2_ZunigaAlex.ilk
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/CL.command.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/Cl.items.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/CL.read.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/CL.write.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/link.command.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/link.read.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/link.secondary.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/Proyecto.5d4a6402.tlog/link.write.1.tlog
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/vc143.idb
Proyecto\#2/Proyecto\#2_ZunigaAlex/Proyecto.5d4a6402/x64/Debug/vc143.pdb
Proyecto\#2/Proyecto\#2_ZunigaAlex/x64/Debug/Proyecto\#2_ZunigaAlex.pdb
